* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    text-decoration: none;
}

#logo{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: green;
}

#links{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.panel{
    width: 300px;
    height: auto;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    color: black;
    display: flex;
    
}