@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Nunito:wght@700;800&family=Open+Sans:wght@300;400;500;700;800&display=swap");
/* colours */
/* fonts */
* {
  font-family: "Open Sans", san-serif;
  margin: 0;
  padding: 0;
  color: #394166;
}

body {
  width: 58vw;
  border: 2px solid black;
  background-color: #fefdf8;
}

nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
nav img {
  height: auto;
  max-width: 110px;
}
nav #logo {
  text-decoration: none;
  font-family: "Boogaloo", cursive;
  font-size: 90px;
  padding-left: 15px;
}
nav #img-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
nav #login-button {
  display: block;
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  width: 170px;
  height: 61px;
  text-align: center;
  padding-top: 18px;
  border: 2px solid #394166;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 35px;
}

main h1 {
  font-family: "Nunito", san-serif;
  color: #1ab9f0;
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  margin-top: 40px;
}
main h1 ::after {
  content: "\a";
  white-space: pre;
}
main #device-img {
  height: auto;
  width: 430px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
main h2 {
  font-family: "Open Sans", san-serif;
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  margin-top: 80px;
}
main h2 ::after {
  content: "\a";
  white-space: pre;
}
main h3 {
  color: #1ab9f0;
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  margin-top: 70px;
}
main p {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 65px;
  margin-bottom: 100px;
}
main p ::after {
  content: "\a";
  white-space: pre;
}
main .button {
  color: white;
  background-color: #394166;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  width: 360px;
  height: 62px;
  padding-top: 23px;
  border: 2px solid #394166;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
main h4 {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  margin-top: 115px;
  margin-bottom: 10px;
}
main #penguin-imgs h5 {
  font-size: 30px;
  font-weight: 400;
  width: 450px;
  margin-top: 60px;
}
main #penguin-imgs h5 .bold {
  font-weight: 700;
}
main #italics {
  font-weight: 300;
  font-style: italic;
}
main .penguin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 35px;
}
main .penguin #img1 {
  width: 200px;
  max-height: auto;
}
main .penguin #img2 {
  width: 350px;
  max-height: auto;
}
main .penguin #img3 {
  width: 300px;
  max-height: auto;
}
main .penguin #img4 {
  width: 400px;
  max-height: auto;
  margin-right: 40px;
  margin-top: 50px;
}