@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Nunito:wght@700&family=Open+Sans:wght@400;500&display=swap');

/* colours */
$background-color: rgb(254,253,248);
$primary-color: rgb(57,65,102);
$secondary-color: rgb(26,185,240);
$footer-color: rgb(255,252,221);

/* fonts */
$font-logo: "Boogaloo", cursive;
$font-body: "Open Sans", san-serif;
$font-display: "Nunito", san-serif;

* {
    font-family: $font-body;
    margin: 0;
    padding: 0;
    color: $primary-color;
}

body {
    width: 58vw;
    border: 2px solid black;
    background-color: $background-color
}

nav{
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    img{
        height: auto;
        max-width: 110px;
    }

    #logo{
        text-decoration: none;
        font-family: $font-logo;
        font-size: 90px;
        padding-left: 15px;
    }

    #img-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
    }

    #login-button{
        display: block;
        text-decoration: none;
        font-size: 28px;
        font-weight: bolder;
        width: 170px;
        height: 61px;
        text-align: center;
        padding-top: 18px;
        border: 2px solid $primary-color;
        border-radius: 10px;
        margin-right: 50px;
        margin-top: 35px;
    }

}